html,
body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0;
    padding: 0;
	width: 100vw;
    background: rgba(0,0,0,0.5);
}

body {
	height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(156, 0, 75);
}

header {
    position: relative;
    background-color: rgb(0, 0, 0);
}

header h1 {
    margin: 0;
    padding: 1%;
    color: rgb(255, 255, 255);
}